{# src/Acme/HelloBundle/Resources/views/Hello/index.html.twig #}
{% extends 'AtksCmsBundle::cmsbase.html.twig' %}
{% block ExtraStylesheets %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pages</h3>
                </div>
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}